<div class="footerWrapper">
  <div class="description">
    <div class="data">
      <a href="#">AIDE</a>
      <a href="#">A propos</a>
      <a href="#">Livraison</a>
      <a href="#">Demander un produits</a>
      <a href="#">Contactez nous</a>
    </div>
    <div class="about">
      <h1>TUNOSTALGIE</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores alias
        perferendis eligendi est corrupti sunt, necessitatibus reiciendis eaque,
        vitae a quibusdam unde sint dolor cum aliquid rerum consequatur. Odio,
        nemo.
      </p>
    </div>
  </div>
  <hr />
  <div class="links">
    <div class="copyrights">Copyright test</div>
    <div class="cards">Test cards</div>
    <div class="links-a">
      <a mat-mini-fab>
        <mat-icon>facebook</mat-icon>
      </a>
      <a mat-mini-fab>
        <mat-icon>facebook</mat-icon>
      </a>
      <a mat-mini-fab>
        <mat-icon>facebook</mat-icon>
      </a>
    </div>
  </div>
</div>
