<div class="footerWrapper">
  <img class="footerImage" src="../../assets/img/header.jpg" alt="" />
  <div class="content">
    <div class="footerAbout">
      <h1>TUNOSTALGIE</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quaerat
        mollitia fuga est, commodi veniam rerum sapiente vero nihil rem
        provident? Accusantium, veniam labore. Nesciunt, accusantium neque
        itaque odit eos, totam, quasi molestiae quaerat pariatur suscipit natus
        veritatis! Tempore, aliquid.
      </p>
    </div>
  </div>
</div>
