<footer class="footer">
  <div class="footer-about">
    <p class="footer-about-title">TUNOSTALGIE</p>
    <p class="footer-about-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nihil vero
      asperiores inventore quis tempora suscipit distinctio aliquid nesciunt
      dolore. Excepturi aperiam ad labore dolorum voluptatibus dolores doloribus
      possimus, reiciendis rem repellat necessitatibus fuga praesentium debitis!
      In adipisci fugit illo, quod cupiditate nihil consectetur dicta laborum
      aut nam ullam mollitia.
    </p>
  </div>
</footer>
