.footerWrapper {
  background-color: #f2f2f2;
}

hr {
  margin-left: 2rem;
  margin-right: 2rem;
}

.description {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.data {
  display: flex;
  flex-direction: column;
}

.data > a {
  text-decoration: none;
  color: #000;
}

.about {
  width: 400px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.links-a > a {
  background-color: #111;
  margin: 0.5rem;
}
