.mat-toolbar-navbar {
  z-index: 99;
  width: 100%;
  background-color: #f2f2f2;
  position: fixed;
  box-shadow: 0px 0.5px 6px 0.5px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: #000;
  transition: color 0.2s ease;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
}

button {
  color: #000;
}

a:hover,
a:active {
  text-decoration: none;
  color: #dfdfdf;
}

.nav-links-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-links-ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* hide the navbar button in big screens */
.toggle-navbar-button {
  visibility: hidden;
  display: none;
}

@media only screen and (max-width: 768px) {
  /* remove the nav links */
  .nav-links-for-pc {
    visibility: hidden;
    display: none;
  }

  .toggle-navbar-button {
    visibility: visible;
    display: flex;
  }
  .nav-caption {
    padding-left: 0.5rem;
  }

  .mat-toolbar-navbar {
    width: 100%;
  }
}
