<mat-toolbar color="primary">
  <div class="toggle-navbar-button">
    <button mat-icon-button (click)="onToggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="nav-logo">
    <a routerLink="/"> TUNOSTALGIE </a>
  </div>

  <div class="nav-links-container nav-links-for-pc">
    <ul class="nav-links-ul">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/artisanat">Artisanat</a>
      </li>
      <li>
        <a routerLink="/patisserie">Patisserie</a>
      </li>
      <li>
        <a routerLink="/epicerie">Epicerie</a>
      </li>
      <li>
        <a routerLink="/promos">Promos</a>
      </li>
      <li>
        <a routerLink="/livraison">Livraison</a>
      </li>
      <li>
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a routerLink="/signup">Signup</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
