.mat-toolbar-navbar {
  position: fixed;
  z-index: 99;
  width: calc(100% - 17px);
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
}

a:hover,
a:active {
  text-decoration: none;
  color: #dfdfdf;
}

.nav-links-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-links-ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* hide the navbar button in big screens */
.toggle-navbar-button {
  visibility: hidden;
  display: none;
}

@media only screen and (max-width: 768px) {
  /* remove the nav links */
  .nav-links-for-pc {
    visibility: hidden;
    display: none;
  }

  .toggle-navbar-button {
    visibility: visible;
    display: flex;
  }
  .nav-caption {
    padding-left: 0.5rem;
  }

  .mat-toolbar-navbar {
    width: 100%;
  }
}
